{% extends 'main.html' %}
{% block content %}

<!-- Main Section -->
<main class="projects">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2>Search for <span>Games</span></h2>
            </div>

            <div class="hero-section__search">
                <form class="form" action="{% url 'market' %}" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Search By Games</label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query" value="{{search_query}}" placeholder="Search by Game Title" />
                    </div>
                    <input class="btn btn--sub btn--lg" type="submit" value="Search" />
                </form>
            </div>
        </div>
    </section>

    <!-- Main container -->
    <section class="projectsList">
        <div class="container">
            <div class="grid grid--three">

                {% for game in games %}
                    <div class="column">
                        <div class="card project">
                            <a href="{% url 'game' game.id %}" class="project">
                                <img class="project__thumbnail" src="{{game.featured_image.url}}" alt="project thumbnail" />
                                <div class="card__body">

                                    <h3 class="project__title">{{game.title}}</h3>
                                    <p><a class="project__author" href="{% url 'game' game.id %}">{{game.company}}</a></p>
                                    <p class="project--rating">
                                        <span style="font-weight: bold;">{{game.review_ratio}} ★</span>
                                        ({{game.review_count}} Review{{game.review_count|pluralize:"s"}})
                                    </p>
                                    <p class="project--rating">Price: {{game.price}}$</p>

                                    <!-- Tags -->
                                    <div class="project__tags">
                                        {% for game_tag in game.tags.all|slice:2 %}
                                            <span class="tag tag--pill tag--main">
                                                <small>{{game_tag}}</small>
                                            </span>
                                        {% endfor %}
                                    </div>
                                    
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

    {% include 'pagination.html' with queryset=games cutom_range=custom_range %}
    
</main>

{% endblock content %}